In [ ]:
#1.Find the error in the following Python code:
import math
print(Math.sqrt(16))

In [1]:
#Answer
import math
print(math.sqrt(16))

4.0

In [ ]:
#2.Find the error in the following Python code:
def my_function():
    x += 5
    print(x)

x = 10
my_function()

In [2]:
#Answer:
def my_function():
    global x
    x += 5
    print(x)

    
x = 10
my_function()

15

In [ ]:
#3.x = 5
if x = 10:
    print("x is 10")

In [3]:
#Answer:
x = 5
if x ==10:
    print("x is 10")

In [ ]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())

In [4]:
#Answer
numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

[2, 3, 5, 8]

In [5]:
numbers = [5, 3, 8, 2]
numbers.sort(reverse=True)
print(numbers)

[8, 5, 3, 2]

In [ ]:
#5.
def square(n):
    n * n

print(square(4))

In [6]:
#Answer:

def square(n):
    return n*n
    print(square(4))

In [ ]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5

In [7]:
#Answer:
my_tuple = (1, 5, 3)

In [ ]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name))

In [8]:
#Answer:
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name,age))

My name is Alice and I am 25 years old

In [ ]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")

In [9]:
#Answer:
a = [1, 2, 3]
b = [1, 2, 3]
if a==b:
    print("Lists are equal")

Lists are equal

In [ ]:
#9.
for i in range(5, 1):
    print(i)

In [10]:
#Answer:

for i in range(1,5):
    print(i)

1
2
3
4

In [ ]:
#10.
student = {"name": "John", "age": 20}
print(student[name])

In [11]:
#Answer:
student = {"name": "John", "age": 20}
print(student["name"])

John

In [12]:
reverse = "Ajitha is a doctor"
reversed_words = ' '.join(reverse.split()[::-1])
print(reversed_words)

doctor a is Ajitha

In [13]:
order=int(input("Enter the order="))
def calculate_final_amount(order):
    if (order>=100):
        print("Final amount")
    percent=0.20
    discounted_price=order*percent
    final_amount=order-discounted_price
    return final_amount

Enter the order= 1000

In [14]:
calculate_final_amount(order)

Final amount

800.0

In [15]:
withdrawl = int(input("enter the withdrawl ="))
balance = int(input("enter the balance ="))
def request():
    if(withdrawl<=balance):
        print("Proceed to withdrawl")
        remaining = balance - withdrawl
        print("remaining balance")
        return remaining
    else:
        print("Insufficient balance")
        remaining = balance - withdrawl
        return remaining
request()

enter the withdrawl = 200
enter the balance = 300

Proceed to withdrawl
remaining balance

100

In [16]:
def leap_year():
    year =int(input("Enter the year="))
    if(year%4==0):
        print("Leap year")
    else:
        print("Not a Leap year")
leap_year()

Enter the year= 2022

Not a Leap year

In [17]:
list=[1,2,3,4,5,6,7,8,9,10,11,12]
Even_number1 = []
for num in list:
    if(num%2==0):
        new_list1 = Even_number1 + num
    print(Even_number1)

[]

TypeError: can only concatenate list (not "int") to list

In [18]:
list2=(1,2,3,4,5,78,909,278247)
Largest_number = max(list2)
print("The largest value is", Largest_number)

The largest value is 278247

In [19]:
student = {"name": "John", "age": 20}
print(student["name"])

John

In [20]:
# Reverse a sentence 
text="Mani is a conductor"
#split the sentence
words=text[::-1]
#reverse the sentence
reversed_words=words.split()
#join the sentence
result=" ".join(reversed_words)
print(result)
result2=" ".join(text.split()[::-1])
print(result2)

rotcudnoc a si inaM
conductor a is Mani